@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {

}

body {
    background-color: #010409;
    color: #ffffff;
    font-family: sans-serif;
}

header > h1{
    text-align: center;
    font-family: 'Bebas';
    font-size: 2.5em;
    margin-bottom: 10px;
}

article {
    background-color: #0D1117;   

    border-radius: 5px;
    width: 660px;
    height: 550px;
    margin-top: 10px;
    padding: 10px;
    

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

article p {
    padding: 5px;
}

article p.alinhado {
    text-align: center;
}

span {          /*  A TAG SPAN ESTÁ DELIMITANDO TODOS OS CARACTERES ESPECIAIS ASTERISCO( * ) */
    color: red;
}

article input {
    height: 18px;
}

textarea {
    resize: none;   /* DESABILITA A OPÇÃO DO USUÁRIO PODER REDIMENSIONAR A CAIXA DE TEXTO*/
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
}
p#obs {
    color: red;
    font-size: 12px;
}